In [2]:
import pandas as pd

In [3]:
s21 = pd.read_csv('s21.csv')
s22 = pd.read_csv('s22.csv')
s19 = pd.read_csv('s19.csv')
s10 = pd.read_csv('s10.csv')

In [5]:
sub = pd.DataFrame()
sub['tweet_id'] = s21['tweet_id']

In [6]:
sub['label'] = s21['label']*0.6 + s22['label']*0.2 + s19['label']*0.15 + s10['label']*0.05
sub.head()

   tweet_id     label
0  00BHHHP1  0.411702
1  00UNMD0E  0.524238
2  01AXPTJF -0.003787
3  01HOEQJW  0.895065
4  01JUKMAO  0.090480

In [7]:
sub.to_csv('e5.csv', index=False)